* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

.header-1 {
  background-color: #7e33e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  font-size: 15px;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  color: white;
}
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: white;
}
.header-2 {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 1em;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
}
li a {
  text-decoration: none;
}
li a:hover{
  border-bottom: 2px solid #fb2e86;
  color: #fb2e86;
  font-size: 20px;
}
.logo a,
h3 {
  font-size: 30px;
  text-decoration: none;
  color: #000000;
}
span {
  color: #fb2e86;
}
form.example input[type="text"] {
  padding: 3px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background-color: white;
  color: black;
}
form.example button {
  width: 20%;
  padding: 3.5px;
  background: #fb2e86;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.contact-us{
  background-color:#F6F5FF;
  padding: 8em;
   
}
.contact-us h3{
  color:#101750;
  font-size: 35px;
  margin-bottom: 1em;
  padding-left: 5em;
}
.nav {
   padding-left: 8em;
   font-size: 20px; 
}
.nav a{
  padding:10px;
  text-decoration: none;
}
.nav a:hover{
font-size: 22px;
color: #FB2E86;
}
a.about{
  color:#fb2e86;
}
.information{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h4{
  font-size:25px;
  color:#151875;
  line-height:50px;
  margin-bottom: 1em;
}
p.ipsum{
  width: 48%;
  font-size: 18px;
  color: #8A8FB9;
  line-height: 30px;
}
.carousel{
  display: flex;
  gap: 10px;
  margin-top: 3em;
}
.info-container{
  padding: 1em;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 2em;
}
 h4{
  font-size:25px;
  color:#151875;
  line-height:50px;
  margin-bottom: 4em;
}
.way{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}
.contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10em;
  margin-top: 7em;
  padding-left: 20px;
}
.first-info-1,.first-info-2 {
  display: flex;
  flex-direction: column;
  gap: 5em;
  align-content: center;
  justify-content: center;
}
.first-info-text{
  display: flex;
  /* flex-direction: column; */
  align-content: center;
  align-items: center;
  gap:1em;
}
.text-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.sub-text{
display: flex;
flex-direction: column;
gap: 10px;
font-size: 18px;
}

.section-2{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* gap:3em; */
  margin: 5em;
 
}
.form-section h4{
  color: #101750;
  font-size:30px;
  margin-bottom: 0px;
}
.form-section p{
  font-size: 20px;
  color: #8A8FB9;
  width: 73%;
  line-height: 30px;
}
input.name{
padding: 1em;
 width: 40%;
 margin-top: 2em;
 font-size: 18px;
}
input.email{
  padding: 1em;
 width: 40%;
 margin-top: 2em;
 font-size: 18px;
}
input.subject{
  width: 82.5%;
  padding: 1em;
 margin-top: 2em;
 font-size: 18px;
}
input[type=email]{
margin-left: 1em;
}
textarea{
  margin-top: 2em;
  width: 82.5%;
  font-size: 18px;
  padding: 1em;
}
input[type=submit]{
padding: 1em;
 width: 20%;
background-color: #fb2e86;
color: white;
font-size: 18px;
outline: none;
border: none;
cursor: pointer;
border-radius: 5px;
}
input[type=submit]:hover{
  background-color: #101750;
}
.image-section{
  margin-top: 0;
  padding-top: 0;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7em;
  background-color:#EEEFFB;
  margin-top: em;
}
footer a:hover{
  color:#000000;
}
.first, .second, .third, .fourth{
  display: flex;
  justify-content: center;
  align-items: left;
  line-height: 30px;
  flex-direction: column;
}
a.foot{
  text-decoration: none;
  color:#8A8FB9;
}
.first h4{
  font-size: 30px;
  padding-top: 2em;
  margin-bottom:20px;
}
.first p{
  color: #8A8FB9;
}
input.mail{
  padding: 10px;
 border: none;
 margin-bottom: 1em;
 width: 50%;
 font-size: 12px;
  
}
input.sign{
  background-color: #FB2E86;
  color: white;
  padding: 10px;
  border: none;
  margin-bottom: 1em;
  width: auto;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
}
 p.heading{
  font-size: 18px;
  padding-top: 2em;
  font-weight: 700;
}
p.address{
  margin-bottom: 5em;
}
.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E7E4F8;
  padding: 10px;
}
.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fb-background{
  background-color: #151875;
  padding: 10px;
  border-radius: 100%;
}
.foot-text{
  color: #9DA0AE;
}
/* .information{
  display: flex;
  /* justify-content:center;
  align-items: center; */
  /* gap:1em; */
  /* margin-top: 5em; */
  /* padding-left: 5em;
  padding-right: 5em; */ */
/* }
.info{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.carousel{
  display: flex;
  gap: 10px;
  margin-top: 3em;
}
.info h4{
  font-size:25px;
  color:#151875;
  line-height:50px
}
.info p{
  width: 45%;
  font-size: 18px;
  color: #8A8FB9;
  line-height: 30px;
  /* margin-bottom: 3em; */
  /* margin-top: 1em; */
}
/* .way h4{
  font-size:25px;
  color:#151875;
}
.details{
  display: flex;
  justify-content: left;
  align-items: left;
  gap:3em; */
} */
